In [2]:
import pandas as pd

In [3]:
import arcgis

In [4]:
from arcgis.gis import GIS

In [5]:
gis = GIS()

In [6]:
item = gis.content.get("85d0ca4ea1ca4b9abf0c51b9bd34de2e")
flayer = item.layers[0]
sdf = pd.DataFrame.spatial.from_layer(flayer)
sdf.head()

,AGE_10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,AGE_45_54,AGE_55_64,AGE_5_9,AGE_65_74,AGE_75_84,...,PLACEFIPS,POP2010,POPULATION,POP_CLASS,RENTER_OCC,SHAPE,ST,STFIPS,VACANT,WHITE
0,1313,1058,734,2031,1767,1446,1136,1503,665,486,...,1601990,13816,15181,6,1271,"{""x"": -12462673.723706165, ""y"": 5384674.994080...",ID,16,271,13002
1,890,817,818,1799,1235,1330,1143,1099,721,579,...,1607840,11899,11946,6,1441,"{""x"": -12506251.313993266, ""y"": 5341537.793529...",ID,16,318,9893
2,12750,13959,16966,32135,27048,29595,24177,12933,12176,7087,...,1608830,205671,225405,8,33359,"{""x"": -12938676.6836459, ""y"": 5403597.04949123...",ID,16,6996,182991
3,790,768,699,1445,1136,1134,935,959,679,464,...,1611260,10345,10727,6,1461,"{""x"": -12667411.402393516, ""y"": 5241722.820606...",ID,16,241,7984
4,3803,3779,3687,7571,5559,4744,3624,4397,2296,1222,...,1612250,46237,53942,7,5196,"{""x"": -12989383.674504515, ""y"": 5413226.487333...",ID,16,1428,35856

In [10]:
df = pd.DataFrame({'age':["AGE_10_14", "AGE_15_19", "AGE_20_24", "AGE_25_34", "AGE_35_44", "AGE_45_54"], 'val':[1000, 2000, 3000, 4000, 5000. 6000]})
ax = df.plot,bar(x='age', y='val', rot=0)

SyntaxError: invalid syntax (<ipython-input-10-5a6a19cbb233>, line 1)